.form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 100%;
    background-color: #f9f9f9;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); 
    margin: 0 auto;
}

.title {
    font-size: 28px;
    color: #f142f4;
    font-weight: 600;
    position: relative;
    padding-left: 20px;
}
.message, .signin {
    color: #333;
    font-size: 16px;
}
.signin {
    text-align: center;
}
.flex {
    display: flex;
    flex-direction: column;
}
.form label {
    position: relative;
}
.form label .input {
    width: 90%;
    padding: 15px;
    outline: none;
    border: 1px solid #ccc;
    border-radius: 10px;
}
.form label .input + span {
    position: absolute;
    left: 20px;
    top: 20px;
    color: #777;
    font-size: 0.9em;
    cursor: text;
    transition: 0.3s ease;
}
.form label .input:placeholder-shown + span {
    top: 20px;
    font-size: 0.9em;
}
.submit {
    border: none;
    outline: none;
    background-color: #4285f4;
    padding: 15px;
    border-radius: 10px;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.centered-table {
    margin: 0 auto;
    width: 80%;
}
.centered-table th, .centered-table td {
    border: 1px solid #ccc;
    padding: 12px;
}
.centered-table th {
    background-color: #dd57b5;
    color: white;
    text-align: center;
    font-weight: bold;
}
.centered-table td {
    text-align: center;
}

.centered-table tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

.centered-table tbody tr:hover {
    background-color: #e5e5e5;
}
.input-box {
    position: relative;
    max-width: 190px;
  }
  
  .input {
    position: relative;
    width: 90%;
    padding: 1.5rem;
    background: none;
    border: solid 1.5px #9e9e9e;
    border-radius: .6rem;
    color: #9e9e9e;
    font-size: 1rem;
  }
  
  .label {
    position: absolute;
    pointer-events: none;
    left: 1rem;
    top: .875rem;
    white-space: nowrap;
    overflow: hidden;
    line-height: 2rem;
    padding-left: 1rem;
    font-size: 1rem;
    color: #9e9e9e;
    transition: 500ms cubic-bezier(0.4,0,0.2,1);
  }
  
  .input:focus~.label, input:valid ~ label {
    top: -6px;
    left: -5px;
    font-size: .875rem;
    color: #9e9e9e;
  }